.header{
    font-weight: 700;
    display: flex;
    justify-content: space-around;
}
#logoheader{
    height: 70px;
}
.ddhead{
    /* height: 70px; */
}
.ddhead:hover, .ddhead:hover a, .ddhead:hover a button{
    background-color: rgb(3, 173, 117);
    color:white;
}
.header2leftbtn{
    /* border: 0; */
    /* height: 70px; */
    /* background-color: white; */
}
.header2leftbtn:hover{
    background-color: rgb(3, 173, 117);
    color:white;
}
.new{
    border: 1.5px solid black;
    border-radius: 16px;
    font-size: 12px;
    padding: 1px 2px;
    color: black;
    background-color: white;
}
.icon:hover{
    color: rgb(3, 173, 117);
}
.websitebtn{
    background-color: #FFC0C7;
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 30px;
}
.websitebtn:hover{
    color: white;
    background-color: rgb(3, 173, 117);
}
.paidbtn{
    background-color:white;
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 30px;
}
.paidbtn:hover{
    color: white;
    background-color: rgb(3, 173, 117);
}
.loginbtn{
    background-color:rgb(4, 179, 120);
    color: white;
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 30px;
}
.loginbtn:hover{
    background-color: rgb(3, 173, 117)
}
.part1{
    padding-top: 100px;
    /* height: 80vh; */
    background-color: #282A35;
    
    
}
.part1 h5{
    color: #FFC0C7;
}
.roundedinput{
    border: 0;
    border-radius: 20px 0 0 20px;
    height: 40px;
    width: 370px;
    margin-right: -4px;
    
}
.roundedicon{
    border: 0;
    border-radius: 0 20px 20px 0;
    background-color:rgb(3, 173, 117) ;
    height: 40px;
    width: 80px;
}
.roundedicon:hover{
    background-color: rgb(6, 138, 94);
}
.textbegin:hover{
    color: rgb(3, 173, 117) !important;
}
.part2{
    background-color: #D9EEE1;
}
#htmlbtn{
    width: 200px;
    height: 40px;
    background-color: rgb(6, 138, 94);
}
#htmlbtn:hover{
    background-color: rgb(1, 105, 71)
}
#videobtn{
    width: 200px;
    height: 40px;
    background-color: #FFF4A3;
}
#videobtn:hover{
    background-color: #efe069;   
}

#refbtn{
    width: 200px;
    height: 40px;
}
#refbtn:hover{
    background-color: rgb(22, 1, 1);
}
.try-btn{
    width: 200px;
    height: 40px;
    background-color: rgb(6, 138, 94);
}
.try-btn:hover{
    background-color: rgb(1, 105, 71);
}
.part3{
    background-color: #FFF4A3;
}
.part4{
    background-color: #282A35;
}
.part5{
    background-color: #F3ECEA;
}
.part6{
    background-color: #96D4D4;
}
.phpsec{
    background-color: #FFC0C7;
    height: 220px;
    /* width: 500px; */
}
.jquerysec{
    background-color: #efe069;
    height: 220px;
    /* width: 500px; */
}
.javasec{
    height: 220px;
}
.cppsec{
    background-color: #D9EEE1;
    height: 220px;
}
.csec{
    background-color: #FFC0C7;
    height: 110px;
}
.csec:hover{
    background-color: #ffb3bc;
}
.cshsec{
    background-color: #efe069;
    height: 110px;
}
.cshsec:hover{
    background-color: #efde5e;
}
.tile1{
    background-color: whitesmoke;
}
.tile1:hover{
    background-color: rgb(252, 240, 240);
}
.tile2{
    background-color: #D9EEE1;
}
.tile2:hover{
    background-color: #cbebd7;
}
.tile3{
    background-color: #96D4D4;
}
.tile3:hover{
    background-color: #8cd4d4;
}
.tile4{
    background-color: #FFC0C7;
}
.tile4:hover{
    background-color: #faafb8;
}
.tile5{
    background-color: #f3e892;
}
.tile5:hover{
    background-color: #efe280;
}
.tv{
    width: 80%;

}
.sliderd{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 0;
    background-color: red;
}
.slideyw{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 0;
    background-color:yellow;
}
.slidegn{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 0;
    background-color:green;
}
.demotext{
    width: 60%;
    height: 20px;
    margin: 5px;
}
#carouselExampleIndicators{
    width: 1000px;
}
.tvbtn:hover{
    background-color: rgb(1, 105, 71) !important;
}
